.card {
    background-color: $white;
    box-shadow: $level-1;
}
.floating-card {
    background-color: $white;
    box-shadow: $level-1;
    padding: 45px 26px 26px 26px;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: $medium-jungle-green;
    }
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: $white;
    }
}



@media (prefers-color-scheme: dark) {
    .floating-card {
        background-color: $medium-jungle-green;
    }
}

@media (prefers-color-scheme: light) {
    .floating-card {
        background-color: $white;
    }
}