.footer {
    padding: 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 12px;
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

}