.footer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 12px;
}

@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

}