.form {
  color: $white;
  background: $dark-lava;
  border-radius: 5px;

  &--title {
    border-bottom: 1px solid $dark-lava;
    font-size: 16px;
    font-weight: 400;
    padding: 17px;
  }
  &--body {
    align-items: stretch;
    border-bottom: 1px solid $dark-lava;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    padding: 17px 17px 47px 17px;
  }
  &--footer {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 17px;
  }
  &--label {
    width: 100%;
    display: block;
    margin-top: 20px;
  }
  &--loading {
    height: 10px;
  }
  &--button {
    display: block;
    padding: 0 20px;
    border-radius: 5px;
    margin: 0px;
    background-color: $bleu-de-france;
    color: white;
  }
  input[type="text"], textarea {
    background-color: $dark-lava;
    border-radius: 5px;
    border: 1px solid $dark-lava;
    color: $white;
    display: block;
    font-weight: 600;
    height: 40px;
    margin: 6px 0;
    padding: 12px;
    width: 100%;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-padding-end: 30px;
    appearance: none;
    background: url('../../images/chevron-down-light.svg') no-repeat calc(100% - 12px) 50%;
    background-color: $dark-lava;
    border-radius: 5px;
    border: 1px solid $dark-lava;
    box-sizing: border-box;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-right: 6px;
    margin-top: 6px;
    padding: 10px 12px;
    resize: none;
    vertical-align: middle;
    width: 100%;
  }
}

textarea {
  height: 100px !important;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .form {
    background: $medium-jungle-green;
    color: $white;
    &--title {
      border-bottom: 1px solid $dark-lava;
    }
    &--body {
      border-bottom: 1px solid $dark-lava;
    }
    input[type="text"], textarea {
      background-color: $dark-lava;
      border: 1px solid $dark-lava;
      color: $white;
    }
    select {
      background: url('../../images/chevron-down-light.svg') no-repeat calc(100% - 12px) 50%;
      background-color: $dark-lava;
      border: 1px solid $dark-lava;
      color: $white;
    }
  }

}

@media (prefers-color-scheme: light) {
  .form {
    background: $white;
    color: $charcoal;
    &--title {
      border-bottom: 1px solid $isabelline;
    }
    &--body {
      border-bottom: 1px solid $isabelline;
    }
    input[type="text"], textarea {
      background-color: $isabelline;
      border: 1px solid $gainsboro;
      color: $charcoal;
    }
    select {
      background: url('../../images/chevron-down-dark.svg') no-repeat calc(100% - 12px) 50%;
      background-color: $isabelline;
      border: 1px solid $gainsboro;
      color: $charcoal;
    }
  }

}
