.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 12px;

  &--login {
    a {
      text-decoration: none;
    }
    span {
      height: 30px;
      background-color: $bleu-de-france;
      display: block;
      color: white;
      border-radius: 5px;
      padding: 5px 18px;
    }
  }

  h1 {
    text-indent: -200px;
    height: 55px;
    width: 80px;
    overflow: hidden;
    background-image: url(../../images/logo-light.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-nav {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 12px;
    justify-items: center;
    align-items: center;
  }
  .top-nav div {
    padding-right: 24px;
    height: 55px;
    justify-items: center;
    align-items: center;
    display: grid;
    position: relative;
    font-weight: 500;
  }
  .top-nav div::after {
    width: 6px;
    height: 10px;
    content: "";
    right: 0;
    position: absolute;
    transform: translate(-7px, 0px) rotate(90deg);
    background-image: url(../../images/blue-chevron.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .dropdown-button {
    position: relative;
    cursor: pointer;
  }
  .dropdown {
    font-weight: 400;
    position: absolute;
    top: 49px;
    right: 0px;
    z-index: 50;
    display: none;
    background-color: $white;
    box-shadow: $level-1;
    border-radius: 5px;
    padding: 6px 0;
  }
  .dropdown a {
    display: block;
    width: auto;
    text-decoration: none;
    padding: 6px 30px 6px 12px;
    color: $charcoal;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  .dropdown a:hover {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 6px 30px 6px 12px;
    background-color: $isabelline;
  }
  .dropdown a:hover::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: $bleu-de-france;
    left: 0;
    top: 0;
  }
}

@media only screen and (min-width: 600px) {
  .top-nav {
    display: grid !important;
  }
  .top-nav-mobile {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    h1 {
      background-image: url(../../images/logo-dark.svg);
    }
    .dropdown {
      background-color: $medium-jungle-green;
    }
    .dropdown a {
      color: $white;
    }
    .dropdown a:hover {
      background-color: $dark-lava;
    }
    .top-nav-mobile-menu {
      margin-top: 3px;
      width: 50px;
      height: 50px;
      background-image: url(../../images/menu-dark.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (prefers-color-scheme: light) {
  .header {
    h1 {
      background-image: url(../../images/logo-light.svg);
    }
    .dropdown {
      background-color: $white;
    }
    .dropdown a {
      color: $charcoal;
    }
    .dropdown a:hover {
      background-color: $isabelline;
    }
    .top-nav-mobile-menu {
      margin-top: 3px;
      width: 50px;
      height: 50px;
      background-image: url(../../images/menu-light.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


