// ------- IMAGES -------
$logo: url('../../images/logo.svg');
$chevron: url('../images/chevron-down-dark.svg') no-repeat calc(100% - 12px) 50%;

// ------- FONTS -------
$base-font: 'Hanken Grotesk', 'Helvetica Neue', sans-serif;

// ------- SHADOWS -------
$depth-1: 0 1px 0px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.05);
$depth-2: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);

// ------- COLORS -------

$background: rgb(235, 236, 237);
$black: rgb(0, 0, 0);
$card-background: rgb(255, 255, 255);
$error-red: rgb(218, 137, 137);
$input-background: rgb(220, 220, 220);
$input-placeholder: rgb(159, 159, 159);
$modal-background: rgba(0, 0, 0, 0.6);
$primary-dark: rgb(0, 85, 176);
$primary-light: rgb(108, 176, 255);
$primary-text: rgb(255, 255, 255);
$primary: rgb(37, 129, 227);
$secondary-dark: rgb(187, 188, 190);
$secondary-light: rgb(255, 255, 255);
$secondary-text: rgb(55, 61, 72);
$secondary: rgb(237, 238, 240);
$transparent: rgba(255, 255, 255, 0);
$white: rgba(255, 255, 255, 1);

// $background: rgb(34, 31, 32);
// $black: rgb(0, 0, 0);
// $card-background: #1d181b;
// $error-red: rgb(218, 137, 137);
// $input-background: #221f20;
// $input-placeholder: rgb(159, 159, 159);
// $modal-background: rgba(0, 0, 0, 0.6);
// $primary-dark: #fcd070;
// $primary-light: rgb(108, 176, 255);
// $primary-text: #221f20;
// $primary: rgb(246, 196, 68);
// $secondary-dark: rgb(97, 87, 91);
// $secondary-light: rgb(43, 43, 43);
// $secondary-text: rgb(255, 255, 255);
// $secondary: rgb(56, 53, 54);
// $transparent: rgba(255, 255, 255, 0);
// $white: rgba(255, 255, 255, 1);

// ------- SIZES -------

$admin-nav-width: 250px;
$desktop-breakpoint: 1024px;
$footer-height: 40px;
$logo-height: 20px;
$logo-width: 84px;
$mobile-footer-height: 64px;
$page-max-width: 1150px;
$spacing-1: 12px;
$tablet-breakpoint: 768px;
$topnav-height: 56px;
$warning-height: 42px;
$warning-height-mobile: 50px;
