.image {
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &--launch { background-image: url("../../images/pages/launch.jpg")}
  &--partner { background-image: url("../../images/pages/partner.jpg")}
  &--account { background-image: url("../../images/pages/account.jpg")}
  &--updates { background-image: url("../../images/pages/updates.jpg")}
  &--launches { background-image: url("../../images/pages/launches.jpg")}
  &--technical { background-image: url("../../images/pages/technical.jpg")}
  &--team { background-image: url("../../images/pages/team.jpg")}
  &--foundation { background-image: url("../../images/pages/foundation.jpg")}
  &--partners { background-image: url("../../images/pages/partners.jpg")}
  &--press { background-image: url("../../images/pages/press.jpg")}
  &--contacts { background-image: url("../../images/pages/contacts.jpg")}
  &--direction { background-image: url("../../images/pages/direction.jpg")}
  &--differences { background-image: url("../../images/pages/differences.jpg")}
  &--governance { background-image: url("../../images/pages/governance.jpg")}
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.max-width {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 12px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  padding-bottom: 100px;
}
.three-column-grid img {
  width: 100%;
  filter: brightness(1);
  border-radius: 3px;
  box-shadow: $level-1;
}
.title-image {
  margin-bottom: 100px;
  width: 100%;
}
.body {
  padding-bottom: 100px;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .layout {
    .layout-header {
      background-color: $medium-jungle-green;
    }
  }
  .three-column-grid img {
    width: 100%;
    filter: brightness(0.7);
  }
}

@media (prefers-color-scheme: light) {
  .layout {
    .layout-header {
      background-color: $white;
    }
  }
  .three-column-grid img {
    width: 100%;
    filter: brightness(1);
  }
}
