.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 12px;
}

.max-width {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 12px;
}

.three-column-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    padding-bottom: 100px;
}
.three-column-grid img {
    width: 100%;
    filter: brightness(1);
    border-radius: 3px;
    box-shadow: $level-1;
}

@media (prefers-color-scheme: dark) {
    .layout {
        .layout-header {
            background-color: $medium-jungle-green;
        }
    }
    .three-column-grid img {
        width: 100%;
        filter: brightness(0.7);
    }
}

@media (prefers-color-scheme: light) {
    .layout {
        .layout-header {
            background-color: $white;
        }
    }
    .three-column-grid img {
        width: 100%;
        filter: brightness(1);
    }
}