// ------- COLORS -------
// Backgrounds Light
$isabelline:            rgba(235,236,237,1);
$white:                 rgba(255,255,255,1);
// Backgrounds Dark
$dark-lava:             rgba(50,54,57,1);
$medium-jungle-green:   rgba(40,44,47,1);
// Highlights
$bleu-de-france:        rgba(48,129,227,1);
$chestnut:              rgba(211,91,98,1);
// Lowlights
$french-blue:           rgba(0,106,194,1);
// Text Light
$charcoal:              rgba(48,55,66,1);
// Text Dark
$white:                 rgba(255,255,255,1);
//Secondary Button
$anti-flash-white:      rgba(237,238,240,1);
$dim-gray:              rgba(109,112,114,1);
// input borders
$dark-jungle-green:     rgba(36,36,36,1);
$gainsboro:             rgba(219,219,219,1);
// Success 
$tea-green:             rgba(203,232,186,1);
$isabelline-green:      rgba(238,246,233,1);
// Animationa
$transparent:           rgba(0,0,0,0);
//modal
$black-modal:           rgba(0,0,0,0.9);
$white-modal:           rgba(235,236,237,0.8);