@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
$base-font: "Hanken Grotesk", "Helvetica Neue", sans-serif;
$title-font: 'Open Sans', sans-serif;
$subtitle-font: 'Merriweather', serif;

.title, h2 {
    font-family: $title-font;
    font-size: 72px;
    font-weight: 400;
    padding-top: 100px;
}

.item-title {
    font-family: $title-font;
    font-size: 26px;
    font-weight: 400;
    padding: 24px 0 36px 0;
    line-height: 30px;
    text-transform: lowercase;
}

.body-title {
    font-family: $title-font;
    font-size: 26px;
    font-weight: 400;
    padding: 36px 0 36px 0;
    line-height: 36px;
}

.item-title::first-letter {
    text-transform: capitalize;
  }

.sub-title, h3{
    font-family: $subtitle-font;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 100px;
    letter-spacing: -0.8px;
    text-transform: lowercase;
}
p {
    line-height: 20px;
    margin-right: 12px;
    white-space: pre-line;
}

.body p {
    margin-bottom: 24px;
    max-width:750px;
}


.link {
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 24px;
    font-weight: 400;
    li {
        text-indent: 18px;
        line-height: 24px;
        cursor: pointer;
    }
    li a {
        text-decoration: none;
        color: $charcoal;
    }
    li a:hover{
        text-decoration: underline;
        color: $bleu-de-france;
    }
    li::before {
        width: 6px;
        height: 10px;
        content: '';
        position: absolute;
        transform: translate(-18px , 7px);
        background-image: url(../../images/blue-chevron.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}



.body-copy {
    max-width: 750px;
    padding-bottom: 20px;
    cursor: default;
    ul {
        padding-top: 12px;
        li {
            list-style-type: disc;
            transform: translateX(25px);
            padding-top: 12px;
        }
    }
}

