// @import "./components/variables.scss";
@import "./themes/colors.scss";
@import "./themes/typography.scss";
@import "./themes/shadows.scss";

@import "./layout/layout.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/button.scss";
@import "./components/carousel.scss";
@import "./components/forms.scss";
@import "./components/menu.scss";


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  quotes: none;
  font-style: normal;
  outline: none;
  box-sizing: border-box;
}

*:focus { outline:none !important }
input:focus, textarea:focus, select:focus {
  outline: none;
}

html, body, #shell {
  background: $isabelline;
  color: $charcoal;
  overflow-y: hidden;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: $base-font;
  display: block;
  height: 100%;
}
#shell {
  overflow-y: scroll;
}


@media (prefers-color-scheme: dark) {
  html, body, #shell {
      background: $dark-lava;
      color: $white;
    }
}

@media (prefers-color-scheme: light) {
  html, body, #shell {
      background: $isabelline;
      color: $charcoal;
    }
}